<section>
  <div>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
    <app-metric-card [title]="'sample'" [count]="14"></app-metric-card>
  </div>  
</section>